{% extends 'base.html' %}

{% block title %}Yangilik qo'shish{% endblock %}

{% block content %}
    <h2>Yangi Yangilik Qo'shish</h2>
    <form class="news-form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Sarlavha:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="author">Muallifi:</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div class="form-group">
            <label for="category">Kategoriya:</label>
            <select id="category" name="category" required>
                <option value="">Tanlang</option>
                <option value="mahalliy">Mahalliy</option>
                <option value="jahon">Jahon</option>
                <option value="sport">Sport</option>
                <option value="texnologiya">Texnologiya</option>
            </select>
        </div>
        <div class="form-group">
            <label for="short-description">Qisqa tavsif:</label>
            <textarea id="short-description" name="short_content" required></textarea>
        </div>
        <div class="form-group">
            <label for="full-content">To'liq matn:</label>
            <textarea id="full-content" name="long_content" required></textarea>
        </div>
        <button type="submit" class="submit-btn">Yangilik qo'shish</button>
    </form>
{% endblock %}